// navbar breakpoint, avoid menu roll over to two lines
$grid-float-breakpoint: 980px;
$grid-float-breakpoint-max: 981px;

// Gems
@import 'bootstrap';
@import 'bootstrap-datepicker';
@import 'font-awesome';

// Internal
@import 'griffith_common/bootstrap_simple_form';
@import 'griffith_common/bootstrap_tabs';
@import 'griffith_common/pagination';
@import 'griffith_common/alignment';
@import 'griffith_common/inputs';
@import 'griffith_common/rowlink';
@import 'griffith_common/file_upload';
@import 'griffith_common/disable';
@import 'griffith_common/status';
@import 'griffith_common/tables';
@import 'griffith_common/inline_forms';
@import 'griffith_common/action_bar';
@import 'griffith_common/page_header';


body {
  padding-top: 70px; 
  padding-bottom: 70px;
  @media screen and (max-width: 979px) {
    padding-bottom: 0px !important;
  }
}

// prevent horizantal scolling
html, body {
  overflow-x: hidden;
  max-width: 100%;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding: 0px;
}

.nowrap { 
  white-space: nowrap; 
}

