= render layout: 'index_search_blank' do
  .col-lg-4.col-md-4.col-sm-5.col-xm-12.inline-form-input
    .input-group
      .input-group-addon
        Search by  
      = select_tag :field, options_for_select(search_column_options, selected: params[:field])
  .col-lg-8.col-md-8.col-sm-7.col-xm-12.inline-form-input{style: 'padding-bottom: 0px'}
    .input-group
      = search_query_tag
      .input-group-btn
        = submit_search_tag
