$action-bar-color: lighten(#333333, 40%) !default;
$action-bar-color-disabled: lighten($action-bar-color, 20%) !default;
$action-bar-background-color: lighten(#333333, 50%) !default;
$action-bar-border-color: lighten(#333333, 40%) !default;

.action-bar {
  background-color: $action-bar-background-color;
  border-top: 1px solid $action-bar-border-color;
  padding-top: 9px;
  padding-bottom: 4px;
  .btn, ul {
    margin-bottom: 5px; 
  }

  .btn-default, .pagination a, .pagination li.active span {
    color: white;
    background-color: transparent;
    border-color: white;
  }

  .btn-default:hover, 
  .btn-default:focus, 
  .btn-default:active, 
  .pagination li a:hover, 
  .pagination li a:focus, 
  .pagination li a:active, 
  .pagination li span:hover, 
  .pagination li span:focus, 
  .pagination li span:active {
    color: $action-bar-color;
    text-shadow: none;
    background-color: white;
    border-color: white;
  }

  .pagination li.active span {
    color: $action-bar-color;
    background-color: white;
    border-color: white;
  }

  .pagination li.disabled span, .pagination li.disabled a {
    color: $action-bar-color-disabled;
    background-color: $action-bar-background-color;
    border-color: white;
  }

  @media screen and (min-width: 980px) {
    bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  @media screen and (max-width: 979px) {
    margin-right: -3000px; 
    margin-left: -3000px; 
    padding-right: 2989px; 
    padding-left: 2989px; 
  }
}

@media screen and (max-width: 979px) {
  body {
    padding-bottom: 15px !important;
  }
}
