.action-bar {
  @media screen and (min-width: 980px) {
    bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  @media screen and (max-width: 979px) {
    margin-right: -3000px; 
    margin-left: -3000px; 
    padding-right: 2989px; 
    padding-left: 2989px; 
  }
}

@media screen and (max-width: 979px) {
  body {
    padding-bottom: 15px !important;
  }
}
