/////////////////////////////
// Inline Form Row Classes //
/////////////////////////////

// NOT SURE ABOUT THESE TWO LINES
.form-row, .btn-add-row { margin-bottom: 6px; }
.btn-add-row { margin-bottom: 18px; }

.inline-form-row {
  padding: 0px;
  margin-right: -5px;
  margin-left: -5px;
  margin-bottom: -10px;
}

.inline-form-header-row {
  padding: 0;
  margin-right: -5px;
  margin-left: -5px;
}

.row-group {
  padding: 0px;
  margin: 0px;
}

.inline-form-input {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 5px;

// override normal css for inputs
.form-group .form-input {
  margin-right: 15px;
  margin-left: 15px; }
}

.inline-form-label {
  padding-right: 5px;
  padding-left: 5px;
}

.btn-add-row {
  margin-bottom: 12px;
}

.date-time-input-group {
  div { 
    padding-right: 15px; 
  }
  input { 
    margin-right: 15px;
    margin-left: 15px;
  }
}



