////////////////////////
// Pagination Classes //
////////////////////////



.pagination {
  float: center;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 28px;
  
  a {
   line-height: 26px;
  }
}


div.pagination {
  @extend .text-center
}

h1 {
  @extend .page-header
}

.index-btn { 
  text-align: right;
  white-space: nowrap;
}

.button-group-left {
  text-align: left;
  white-space: nowrap;  
}

.button-group-right {
  text-align: right;
  white-space: nowrap;  
}

.ajax-pagination {
  text-align: center;
  height: 27px;
  margin-top: 6px;
  margin-bottom: 6px;
  li span, li a {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    padding-left: 8px;
  }
}
