// remove link style from rowlink within td
td.rowlink a {
  color: black;
}

body { padding-bottom: 70px; }

// add row color for notice
.notice {
  border-color: #bce8f1;
  background-color: #f4f8fa
}


// alignment helpers
.right { text-align: right; }
.left { text-align: left; }
.center { text-align: center; }
.justify {
 text-align: justify; 
 text-justify: inter-word; //ie only
}


// inline form row classes
.inline-form-row {
  padding: 0;
  height: 49px;
  margin-right: -7.5px;
  margin-left: -7.5px;
}

.inline-form-header-row {
  padding: 0;
  margin-right: -7.5px;
  margin-left: -7.5px;
  margin-bottom: 6px;
}

.row-group {
  padding: 0px;
  margin: 0px;
}

.inline-form-input {
  padding-right: 7.5px;
  padding-left: 7.5px;

  // override normal css for inputs
  .form-group .form-input {
    margin-right: 15px;
    margin-left: 15px;
  }
}

.inline-form-label {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.btn-add-row {
  margin-bottom: 12px;
}

.date-time-input-group {
  div { 
    padding-right: 15px; 
  }
  input { 
    margin-right: 15px;
    margin-left: 15px;
  }
}

// Add support for total row border
table tbody tr.total-row th, table tbody tr.total-row td,  { 
  border-top: 5px double #ddd
}

/* Disabled Links */
a.disabled-link,
a.disabled-link:visited ,
a.disabled-link:active,
a.disabled-link:hover {
  color: #484848 !important;
  pointer-events: none;
  cursor: default;
}

// Disable Table Cell
.disable-cell, .disable-cell:hover {
 background-color: #fafafa
}
